/* import des fichiers de composants*/
@import url("components/card.css");

/*regles de styles general*/ 
body {
	color: #9A625A;
	text-align: center;
	background-image: url(../Image/l.jpg);
	background-size: cover;
}
h2 {
	color: #5C463D; 
	text-align: center;
	font-family:'Open Sans', sans-serif;
	font-size: 24px
	font-weight : 400;

}
h1 {
	text-align: center;
	font-family:'Open Sans', sans-serif;
}


i {
	font-size: 24px
}
p {
	font-size: 16px
	font-family: 'Open Sans', sans-serif;
	font-weight : 300;
}

.container{ 
width : 700px;
margin : 20px auto; }

@media (max-width: 960px){
	.container{ 
	width: 700px;}
}
@media (max-width: 720px){
	.container{
	width: 500px;}
}

@media (max-width: 540px){
	.container {
		width: 300px;}
}

img {
	border-radius: 50%
}
ul{
	list-style-type: none;
	padding-left: 0px; 
}

li {
	display: inline;
}

a.bouton1 {
padding: 10px 30px; 
background: #9A625A; 
color: white; 
}
a.bouton1:hover {
background: #5C463D; 
}
